body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(30, 114, 163);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Maven Pro';
}

#main {
  display: flex;
  flex-direction: column;
}

#main h1 {
  align-self: center;
  color: rgb(45, 143, 45);
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
}

#resource-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#list {
  border: 1px solid blue;
  width: 50%;
}

#expand {
  align-self: center;
  border: 1px solid red;
  width: 50%;
}

#resource-link {
  border-bottom: solid 5px #eee;
  padding: 20px;
  margin: 10px;
}
/* label {
  display: block;
} */

/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

#news_header {
  color: navy;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.headline_text {
  margin-left: 3%;
}

.headline_img {
  width: 30%;
  margin-left: 2%;
}

.single_article_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_article_img {
  width: 80%;
}

.article_description {
  width: 80%;
  text-align: center;
}
