body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(30, 114, 163);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Maven Pro';
}

#main {
  display: flex;
  flex-direction: column;
}

#main h1 {
  align-self: center;
  color: rgb(45, 143, 45);
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
}

#resource-container {
  display: flex;
  flex-direction: row;
}

#list {
  width: 50%;
}

#expand {
  align-self: center;
  width: 50%;
}

#resource-link {
  border-bottom: solid 5px #eee;
  padding: 20px;
  margin: 10px;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  background-color: whitesmoke;
  padding: 5px;
}

.category_button {
  border-radius: 12px;
  padding: 5px;
  background-color: rgb(45, 143, 45);
  color: white;
}

.category_button:hover {
  background-color: darkgreen;
}

#newsfeed_container {
  margin-left: 20%;
  margin-right: 20%;
  background-color: whitesmoke;
}

#news_header {
  color: navy;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.headline_text {
  margin-left: 3%;
}

.headline_title:hover {
  color: navy;
}

.headline_img {
  width: 30%;
  margin-left: 2%;
}

.single_article_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_article_img {
  width: 80%;
}

.article_description {
  width: 80%;
  text-align: center;
}
